* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaeded;
  font-family: Arial;
}

/* Header */

.header {
  height: 70px;
  background: #131921;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.search {
  width: 45%;
  padding: 12px;
  border: none;
  border-radius: 4px;
}

.cart {
  font-size: 22px;
  font-weight: bold;
}

/* Menu */

.menu {
  background: #232f3e;
  color: white;

  display: flex;
  gap: 30px;

  padding: 12px;
  font-weight: bold;
}

/* Hero */

.hero {
  height: 420px;

  background-image: url("https://images.unsplash.com/photo-1543512214-318c7553f230");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding-left: 80px;

  color: white;
}

.hero-text h1 {
  font-size: 55px;
}

.hero-text h2 {
  margin: 10px 0;
}

.hero button {
  margin-top: 20px;
  padding: 12px 30px;

  border: none;
  background: #febd69;

  font-size: 18px;
  cursor: pointer;
}

/* Categories */

.categories {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

  padding: 20px;
  margin-top: -100px;
}

.category-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.category-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;

  margin: 15px 0;
}

.signin-btn {
  margin-top: 30px;

  width: 100%;
  padding: 12px;

  background: #ffd814;
  border: none;

  font-size: 18px;
}

/* Products */

.product-section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.products {
  display: flex;
  gap: 20px;

  overflow-x: auto;

  margin-top: 20px;
}

.product-card {
  min-width: 250px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.rating {
  color: orange;
  margin: 10px 0;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}

.offer {
  color: red;
  font-weight: bold;
}

/* Footer */

.footer {
  background: #131921;
  color: white;

  display: flex;
  justify-content: space-around;

  padding: 40px;
  margin-top: 30px;
}

.footer h3 {
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}